# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# Mypy / type checkers
.mypy_cache/
.dmypy.json

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Logs
*.log